<template>
  <div class="container mx-auto h-full">
    <div class="flex items-center justify-center h-screen">
      <div class="w-full lg:w-4/12 px-4">
        <header>
          <slot name="header"></slot>
        </header>
        <main>
          <slot></slot>
        </main>
        <footer>
          <slot name="footer"></slot>
        </footer>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "BaseLayout"
};
</script>
