<template>
  <base-layout>
    <template v-slot:default>
      <h1>Dashboard page</h1>
      <h2>Only authenticated users can access this page</h2>
    </template>
  </base-layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import BaseLayout from "./BaseLayout.vue";

export default defineComponent({
  name: "Register",
  components: {
    "base-layout": BaseLayout
  },
  setup: () => {
    return {};
  }
});
</script>
