<template>
  <div class="flex items-center justify-center h-screen">
    <router-link to="/login">Sign-in</router-link>
    <router-link to="/register">Register</router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Home"
});
</script>

<style lang="scss"></style>
