<template>
  <base-layout>
    <template v-slot:default>
      <div class="text-center">
        <h2 class="text-gray-600 font-bold">
          Arithmetique facile
        </h2>
      </div>
      <div class="rounded-t mb-0 px-6 pb-6">
        <hr class="mt-6 border-b-1 border-gray-400" />
      </div>
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
      >
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-center mb-3 pt-6">
            <h6 class="text-gray-600 text-sm font-bold">Sign in with</h6>
          </div>
          <form @submit.prevent="submitHandler" method="POST">
            <p
              v-if="isFirebaseSigninError"
              class="text-red-500 text-lg italic"
              data-testid="firebase-signin-error"
            >
              Incorrect username of password
            </p>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                for="form-email"
                >Email</label
              >
              <input
                type="email"
                aria-labelledby="form-email"
                v-model="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                placeholder="Email"
                style="transition: all 0.15s ease 0s;"
              />
              <p
                v-if="hasEmailError"
                class="text-red-500 text-xs italic"
                data-testid="email-input-error"
              >
                Please enter a valid email
              </p>
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                for="form-password"
                >Password</label
              >
              <input
                type="password"
                aria-labelledby="form-password"
                v-model="password"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                placeholder="Password"
                style="transition: all 0.15s ease 0s;"
              />
            </div>
            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox text-gray-800 ml-1 w-5 h-5"
                  style="transition: all 0.15s ease 0s;"
                /><span class="ml-2 text-sm font-semibold text-gray-700"
                  >Remember me</span
                ></label
              >
            </div>
            <div class="text-center mt-6">
              <button
                type="submit"
                class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                :class="[disabledSubmit ? 'opacity-50 cursor-not-allowed' : '']"
                style="transition: all 0.15s ease 0s;"
                :disabled="disabledSubmit || loading"
              >
                Sign In
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6">
        <div class="w-1/2">
          <router-link to="forgot">
            <small>Forgot password?</small>
          </router-link>
        </div>
        <div class="w-1/2 text-right">
          <router-link to="register">
            <small>Create new account</small>
          </router-link>
        </div>
      </div>
    </template>
  </base-layout>
</template>

<script lang="ts">
import { computed, defineComponent, inject, ref } from "vue";
import { Container } from "inversify";
import { DI_TYPES } from "@/ioc/constants";
import BaseLayout from "./BaseLayout.vue";
import { UserService } from "@/domain";
import { ROUTES } from "@/router";

export default defineComponent({
  name: "Login",
  components: {
    "base-layout": BaseLayout
  },
  setup() {
    const container: Container | undefined = inject(DI_TYPES.Container);
    const loading = ref(false);
    const email = ref("");
    const password = ref("");
    const isFirebaseSigninError = ref(false);
    const disabledSubmit = computed(
      () => !email.value || !password.value || loading.value
    );
    return {
      container,
      loading,
      disabledSubmit,
      email,
      password,
      isFirebaseSigninError
    };
  },
  computed: {
    hasEmailError(): boolean {
      return this.email !== "" && this.hasError("email");
    }
  },
  methods: {
    submitHandler(/*e: Event*/) {
      const { container, email, password } = this;
      if (!container) {
        return;
      }
      const firebaseDb = container.get<UserService>(DI_TYPES.UserService);
      this.loading = true;
      firebaseDb
        .signin({ email, password })
        .then(() => {
          this.$router.push({ name: ROUTES.DASHBOARD });
        })
        .catch(() => {
          this.isFirebaseSigninError = true;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    hasError(fieldType: string): boolean {
      switch (fieldType) {
        case "email":
          return !new RegExp(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          ).test(this.email);
        default:
          return false;
      }
    }
  }
});
</script>

<style></style>
