<script lang="ts">
import { defineComponent, inject, onMounted } from "vue";
import { Container } from "inversify";
import { UserService } from "@/domain";
import router, { ROUTES } from "@/router";
import { DI_TYPES } from "@/ioc/constants";

export default defineComponent({
  name: "Logout",
  setup() {
    const container: Container | undefined = inject(DI_TYPES.Container);
    onMounted(() => {
      if (!container) {
        return;
      }
      const userService = container.get<UserService>(DI_TYPES.UserService);
      userService
        .signout()
        .then(() => {
          router.push(ROUTES.LOGIN);
        })
        .catch(() => {
          router.push(ROUTES.HOME);
        });
    });
  },
  render() {
    return null;
  }
});
</script>
