<template>
  <base-layout>
    <template v-slot:default>
      <div class="text-center">
        <h2 class="text-gray-600 font-bold">
          Arithmetique facile
        </h2>
      </div>
      <div class="rounded-t mb-0 px-6 pb-6">
        <hr class="mt-6 border-b-1 border-gray-400" />
      </div>
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
      >
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-center mb-3 pt-6">
            <h6 class="text-gray-600 text-sm font-bold">Register now</h6>
          </div>
          <form @submit.prevent="submitHandler" method="POST">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                for="form-email"
                >Email</label
              >
              <input
                type="email"
                aria-labelledby="form-email"
                v-model="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                placeholder="Email"
                style="transition: all 0.15s ease 0s;"
              />
              <p
                v-if="hasEmailError"
                class="text-red-500 text-xs italic"
                data-testid="email-input-error"
              >
                Please enter a valid email
              </p>
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                for="form-password"
                >Password</label
              >
              <input
                type="password"
                aria-labelledby="form-password"
                v-model="password"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                placeholder="Password"
                style="transition: all 0.15s ease 0s;"
              />
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                for="form-rpassword"
                >Password</label
              >
              <input
                type="password"
                aria-labelledby="form-rpassword"
                v-model="rpassword"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                placeholder="Password"
                style="transition: all 0.15s ease 0s;"
              />
              <p
                v-if="hasRpasswordError"
                class="text-red-500 text-xs italic"
                data-testid="rpassword-input-error"
              >
                The entered password don't match
              </p>
            </div>
            <div class="text-center mt-6">
              <button
                type="submit"
                class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                :class="[disabledSubmit ? 'opacity-50 cursor-not-allowed' : '']"
                style="transition: all 0.15s ease 0s;"
                :disabled="disabledSubmit || loading"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6">
        <div class="w-1/2 text-right">
          <router-link to="login">
            <small>Sign-in</small>
          </router-link>
        </div>
      </div>
    </template>
  </base-layout>
</template>

<script lang="ts">
import { UserService } from "@/domain";
import { DI_TYPES } from "@/ioc/constants";
import { Container } from "inversify";
import { computed, defineComponent, inject, ref } from "vue";
import BaseLayout from "./BaseLayout.vue";

export default defineComponent({
  name: "Register",
  components: { "base-layout": BaseLayout },
  setup: () => {
    const container: Container | undefined = inject(DI_TYPES.Container);
    const loading = ref(false);
    const email = ref("");
    const password = ref("");
    const rpassword = ref("");
    const disabledSubmit = computed(() => {
      if (
        !email.value ||
        !password.value ||
        !rpassword.value ||
        password.value !== rpassword.value ||
        loading.value
      ) {
        return true;
      }
      return false;
    });
    return {
      container,
      loading,
      disabledSubmit,
      email,
      password,
      rpassword
    };
  },
  computed: {
    hasEmailError(): boolean {
      return this.email !== "" && this.hasError("email");
    },
    hasPasswordError(): boolean {
      return this.hasError("password");
    },
    hasRpasswordError(): boolean {
      return this.hasError("rpassword");
    }
  },
  methods: {
    submitHandler(/*e: Event*/) {
      const { container, email, password, rpassword } = this;
      if (!container) {
        return;
      }
      if (password !== rpassword) {
        return;
      }
      const firebaseDb = container.get<UserService>(DI_TYPES.UserService);
      this.loading = true;
      firebaseDb.create({ email, password }).finally(() => {
        this.loading = false;
      });
    },
    hasError(fieldType: string): boolean {
      switch (fieldType) {
        case "email":
          return !new RegExp(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          ).test(this.email);
        case "password":
          return true;
        case "rpassword":
          return !!this.rpassword && this.password !== this.rpassword;
        default:
          return false;
      }
    }
  }
});
</script>

<style scoped></style>
