<template>
  <nav-bar />
  <router-view />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Navbar from "@/components/Navbar.vue";

import "@/assets/css/style.css";

export default defineComponent({
  name: "App",
  components: {
    "nav-bar": Navbar
  }
});
</script>

<style lang="scss"></style>
